@model List<FPTBook.Models.CartItem>
@{
    ViewData["Title"] = "Cart";
}

<section class="header_text sub">
    <img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
    <h4><span>Shopping Cart</span></h4>
</section>
<section class="main-content">
    <div class="row">
        @if (Model.Count > 0)
        {
            decimal total = 0;
            int stt = 1;

            <div class="span9">
                <h4 class="title"><span class="text"><strong>Your</strong> Cart</span></h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Remove</th>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var cartitem in Model)
                        {
                            var subTotal = cartitem.Quantity * cartitem.Book.Price;
                            total += subTotal;

                            <tr>
                                <td><input type="checkbox" value="option1"></td>
                                <td><img class="img-fluid" style="width: 20%" alt="Book Image" src="/Image/@cartitem.Book.ImgFileName"></td>
                                <td>@cartitem.Book.Name</td>
                                <td><input asp-for="@cartitem.Quantity" id="@($"quantity-{cartitem.Book.Id}")" class="input-mini" /></td>
                                <td>$@cartitem.Book.Price</td>
                                <td>$@subTotal</td>
                                <td>
                                    <button class="btn btn-outline-primary updatecartitem" data-productid="@cartitem.Book.Id">Update</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="span3 col">
                <div class="block">
                    <p class="cart-total right">
                        <strong>Total</strong>: $@(total.ToString("n0"))<br>
                    </p>
                </div>

                <hr />
                <p class="buttons center">
                    <a class="btn btn-primary" asp-controller="Cart" asp-action="Checkout">Checkout</a>
                </p>
            </div>
        }
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".updatecartitem").click(function (event) {
                event.preventDefault();
                var productid = $(this).attr("data-productid");
                var quantity = $("#quantity-" + productid).val();
                $.ajax({
                    type: "POST",
                    url: "@Url.RouteUrl("updatecart")",
                    data: {
                        productid: productid,
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = "@Url.RouteUrl("cart")";
                    }
                });
            });
        });
    </script>
}
